.report-head {
    font-size: x-large;
    font-weight: normal;
    text-align: center;
}

.report-name {
    font-weight: bold;
}

.report-topic {
    font-style: oblique;
}

table.attendance {
    border-collapse: collapse;
}

td.attendance {
    border: 1px solid black;
    padding: 3px;
}

.title {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.title.part {
    font-size: medium;
    text-decoration: none;
}

.first {
    font-weight: bold;
}

hr.main {
    border-width: 3px;
}

hr.secondary {
    border-width: 1px;
    border-style: dashed;
    border-color: lightgray;
}

body {
    margin: 10px;
    font-size: small;
}
