{% load i18n admin_static %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

{% if inline_admin_formset.help_text %}
    
    <div class="help-text">
        {{ inline_admin_formset.help_text }}
    </div>

{% else %}

<table class="attendance-table">
    <tr>
        <td></td>
        {% for service in inline_admin_formset.formset.services %}
            <td>{{ service.short_name }}</td>
        {% endfor %}
    </tr>
{% for row, diocese in inline_admin_formset.table_iter %}
    <tr>
        <td> {{ diocese.name }} </td>
        {% for inline_admin_form, cnt in row %}
            <td>
<div class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{{ cnt }}">
  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
  {% for fieldset in inline_admin_form %}
     {% include "comm/attendance_fieldset.html" %}
  {% endfor %}
  {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
</div>
            </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

{% endif %}
</div>

